IDSERVER1	5
REMOTE_USER	BRYAN
REMOTE_IP	120.22.33.44
REMOTE_PORT 2222
REVERSE_PORT	4444
STATUS	OFFLINE

IDSERVER1	5
REMOTE_USER	SALDIVAR
REMOTE_IP	200.11.22.3
REMOTE_PORT 2828
REVERSE_PORT	3333
STATUS	ONLINE
